#{extends 'main.html' /}
#{set title:'Home' /}

<div data-role="page" data-theme="u">
  <div data-role="header" data-backbtn="false">
    <h1 class="logo">u9</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-filter="true">
      #{list items:mails, as:'mail'}
      <li><a href=@{Application.mail(mail.id)}>[mail] ${mail.template.name}</a></li>
      #{/list}
      #{list items:templates, as:'template'}
      <li><a href=@{Application.template(template.id)}>[template] ${template.name}</a></li>
      #{/list}
    </ul>
  </div>
  <div data-role="footer">
    <h4>copyright&copy;u9</h4>
  </div>
</div>
